@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary-color-pink: #f4b5bf;
$primary-color-blue: #a6d8d8;
$header-color: #ffb48e;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0 10px;
    background-color: rgb(186, 185, 185);
    position:fixed;

    img {
      width: 50px;
      height: 50px;
    }

    nav {
      display: flex;
      gap: 20px;
      

      p {
        font-size: 18px;

        a {
          color: #ffffff;
          font-size: 18px;
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    #seção1 {
      height: 800px;
      background-image: url('/img/main-photo.jpg');
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 10rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        border-bottom: solid 5px white;

      }
    }

    #seção2 {
      width: 100%;
      height: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(186, 185, 185, 1) 100%);

      h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        color: #fff;
      }

      p {
        width: 800px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        text-align: justify;
        color: #fff;
        text-shadow: 1px 1px 2px black;
        border: solid 3px rgb(255, 255, 255);
        padding: 28px;
      }
    }

    #seção3 {
      height: 800px;
      width: 100%;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        color: #fff;
        font-size: 76px;
      }

      #mostruario {
        height: 600px;
        width: 70%;
        border: solid 2px #fff;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        .mst-img {
          width: 200px;
          height: 170px;
        }
      }
    }
  }

  .row {
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    gap:10px;
    background-color: #000;
    h1{

      font-size: 24px;
      color: #fff;
    }
        ul{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        img{
          width: 25px;
          height: 25px;
        }
        a{
          color: #fff
        }
      };
    }
  }
}